<%# タイトル %>
<h1>index.ejsです</h1>

<%# 配列を定義 %>

<% const arr = ["太郎","花子","次郎","三郎"] %>

<%#出席番号及び配列から順番に名前を出力 %>

  <% for(let i=0; i<=3 ; i++ ) { %>
    <h3><%= `出席番号${i+1}` %>
      <span><%= arr[i]  %></span>
    </h3>

  <% } %>

  <%# エスケープあり %>
  <%= 'エスケープあり' %><br>
  <%= '<a href=\'xxx\'>xxxxxx</a>' %><br>
  <br>
  <%# エスケープなし %>
  <%= 'エスケープなし' %><br>
  <%- '<a href=\'xxx\'>xxxxxx</a>' %>